@use "../abstract/variable" as *;

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img,
video {
  object-fit: cover;
}

@media only screen and (max-width: $breakpoint-1) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: $breakpoint-3) {
  html {
    font-size: 53%;
  }
}
