@use "../abstract/variable" as *;

.bold {
  font-weight: 600 !important;
}

.color-prim {
  color: $color-primary-dark !important;
}

.hidden {
  display: none !important;
}

.mgn-top-2 {
  margin-top: $mgn-vertical-2 !important;
}

.lazy-load {
  filter: blur(8px) brightness(50%);
}
